@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure AZ400-updated by FB mufarooq1. local-updated on FeatureA branch by second developer</h1>
    <h1 class="display-4">Line Added by Admin directly on git hub.com - c2 of main</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
